<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'styles.css')}}">

</head>

<body>
    <div class = "container">
        <h2>Transfer Money</h2>
       
<input type="text" id="payer" placeholder="Enter payer address">
<input type="text" id="payee" placeholder="Enter payee address">
<input type="number" id="amount" placeholder="Enter amount to transfer">
<button class="btn" onclick="transfer()">Transfer</button>
<button class="btn" onclick="transaction1()">Transaction</button>

<form action="/" method="post">
    <input type="submit" value="Main">
</form>

<p id="view_payer"></p>
<p id="view_payee"></p>
<p id="view_amount"></p>
<script src="0xddd5100f765f401f2860ce9b3a08ed5e4057841e"></script>
<script>
    const contractAddress = "0x7139534787A59E6198D371F00c84dDd1FFC05999";
    const contractABI = [
        {
            "inputs": [],
            "stateMutability": "nonpayable",
            "type": "constructor"
        },
        {
            "inputs": [],
            "name": "transaction",
            "outputs": [
                {
                    "internalType": "address",
                    "name": "",
                    "type": "address"
                },
                {
                    "internalType": "address",
                    "name": "",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "payer_add",
                    "type": "address"
                },
                {
                    "internalType": "address",
                    "name": "payee_add",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "pay_amount",
                    "type": "uint256"
                }
            ],
            "name": "weixin",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        }
    ];
    const web3 = new Web3(Web3.givenProvider);
    const contract = new web3.eth.Contract(contractABI, contractAddress);
    async function transfer() {
        const accounts = await web3.eth.requestAccounts();
        const payer = document.getElementById('payer').value;
        const payee = document.getElementById('payee').value;
        const amount = document.getElementById('amount').value;
        console.log(payer,payee,amount);
        
        console.log("accounts[0] " + accounts[0]);
        await contract.methods.weixin(payer, payee,amount).send({ from: accounts[0]});
    }
    async function transaction1() {
        const result = await contract.methods.transaction().call();
        document.getElementById('view_payer').innerText = "Payer: " + result[0];
        document.getElementById('view_payee').innerText = "Payee: " + result[1];
        document.getElementById('view_amount').innerText = "Amount: " + result[2];
    }
</script>

    </div>
</body>